<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Spotify API</title>
    <!--Icons: https://fontawesome.com/icons?d=gallery-->
  <script src="https://kit.fontawesome.com/c0a664ee11.js"></script>
  <link rel="stylesheet" type="text/css" href="../stylesheets/style.css">
</head>
<body>
  <div class='searcher-index-container'>
    <div class='searcher-index-little-container'>
      <i class="fab fa-spotify"></i>
      <h2>Spotify seacher</p>
      <form action="/artists" method="GET">
        <input id="first-name-input" type="text" name="artist">
        <input class='searcher-button' type="submit" value="Search for an Artist">
      </form>
    </div>
  </div>
</body>
</html>

